<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Festive&family=Raleway:wght@200;300;400&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap" rel="stylesheet">
    <title>Smile</title>
</head>
<body>
    <header class="block header">
        <div class="block header-background"></div>
        <div class="header-title">
            <p class="header__prefix">to make people</p>
            <h1>Smile</h1>
        </div>
        <div class="anchor flex flex-column flex-center">
            <a href="#main">let's start</a>
            <a href="#main" class="go-down-arrow"></a>
        </div>
    </header>

    <section id="main" class="block block--primary">
        <h2 class="heading" data-aos="flip-up" data-aos-delay="300">First of all, why ?</h2>
        <div class="line line-black"></div>
        <div class="cardDiv grid grid-1x3">
            <div class="container2" data-aos="fade-up">
                <a class="links" href="/article1" id="a1">
                    <div class="card" style="background: url('imgs/goverment.jpg'); background-size: cover;"></div>
                    <div class="p">
                        <h3>The corrupt political class that broke Lebanon</h3>
                        <p>Corruption has always existed in Lebanon, but was magnified after the end of the civil war in 1990.
                            Once a taboo, now it is at the forefront of the public debate in Lebanon. </p>
                            <p>Lebanon has long endured institutionalized corruption. Its current government system formed after 
                                the previous regime’s ineptitude eroded national security to the point of civil war. The war lasted 
                                from 1975-1990. The conflict occurred between the Palestine Liberation Organization (PLO) and Christian 
                                groups backed by Israel and Syria, with both seeking political control over Lebanon. After 25 years of 
                                fighting, over 100,000 killed and thousands more uprooted, the conflict finally ended with the signing of 
                                the Taif Accord. This accord shaped the constitution into a document conducive to graft. </p>
                    </div>
                </a>
            </div>
            <div class="container2" data-aos="fade-up">
                <a class="links" href="/article2" id="a2">
                    <div class="card" style="background: url('imgs/thawra.jpg'); background-size: cover;"></div>
                    <div class="p">
                        <h3>Forces for change / the revolution</h3>
                        <p>Despite the widespread corruption in Lebanon, downtrodden citizens and empathetic 
                            foreigners are striving to implement much-needed reforms. </p>
                        <p>Public outcry has led to numerous recent power shifts. In October 2019, massive demonstrations 
                            set off by a proposed tax increase, united Lebanon’s diverse political sects against government abuses. 
                            This monumental display of solidarity ultimately ousted then-Prime Minister Saad Hariri and his 
                            administration and led to the induction of Hassan Diab..  </p>
                    </div>
                </a>
            </div>
            <div class="container2" data-aos="fade-up">
                <a class="links" href="/article3" id="a3">
                    <div class="card" style="background: url('imgs/dollar-lira.jpg'); background-size: cover;"></div>
                    <div class="p">
                        <h3>Lebanese liquidity crisis</h3>
                        <p>The Lebanese liquidity crisis is an ongoing financial crisis affecting the nation of Lebanon, 
                            starting in August 2019, which further exacerbated by both the COVID-19 pandemic in Lebanon (which began in 2020)
                            and the 2020 Beirut port explosion. </p>
                            <p>Since 1997, the Lebanese pound has been pegged to the U.S. dollar at a rate of 1,507.5 LBP per USD. 
                            In August 2019, due to various financial hardships, especially the growing probability that the Lebanese 
                            government will default on maturing debt obligations, the black market exchange rate started diverging 
                            from the official exchange rate. </p>
                    </div>
                </a>
            </div>
            <div class="container2" data-aos="fade-up">
                <a class="links" href="/article4" id="a4">
                    <div class="card" style="background: url('imgs/corona.jfif'); background-size: cover;"></div>
                    <div class="p">
                        <h3>Coronavirus Outbreak in Lebanon</h3>
                        <p>The COVID-19 pandemic in Lebanon is part of the ongoing worldwide pandemic of coronavirus 
                            disease 2019 (COVID-19) caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). 
                            The virus was confirmed to have reached Lebanon in February 2020. </p>
                            <p>Lebanon’s economic downfall, aggravated by the Covid-19 pandemic, has led to lack of access to 
                            basic amenities. The marginalized sections of the Lebanese society have borne the brunt of the 
                            financial crisis, say economists. </p>
                    </div>
                </a>
            </div>
            <div class="container2" data-aos="fade-up">
                <a class="links" href="/article5" id="a5">
                    <div class="card" style="background: url('imgs/mafra2.jpg'); background-size: cover;"></div>
                    <div class="p">
                        <h3>The blast in Beirut’s port</h3>
                        <p>No one could imagine the deadly incompetence of the corrupt government in Beirut until the explosion 
                            of the port. On the evening of August 4, 2020, a column of smoke loomed menacingly over Beirut’s 
                            vast horizon, foreshadowing tragedy in shades of gray and black. Flashes of white and glimpses 
                            of smoldering orange interrupted the inky cloud as it climbed to ever-greater heights. With a 
                            deafening blast, a massive shock wave consumed the city in the smoke and terror of 3,000 metric 
                            tonnes of ammonium nitrate. In a matter of seconds, the detonation inflicted an estimated $15 
                            billion in property damage. Far more priceless, the human toll of the explosion stands at least 
                            200, with thousands more wounded. In the tearful wake of the blast, the Lebanese people are 
                            hemorrhaging hope. Yet the horrific explosion is not merely a chance disaster: it is a symptom 
                            of the corruption in Lebanon that is eating the country from the inside out. </p>
                    </div>
                </a>
            </div>
            <div class="container2" data-aos="fade-up">
                <a class="links" href="/article6" id="a6">
                    <div class="card" style="background: url('imgs/fuel.jpg'); background-size: cover;"></div>
                    <div class="p">
                        <h3>Lebanon’s fuel shortage worsens economic crisis</h3>
                        <p>It has been over a month since Lebanese drivers began lining up in their cars for hours to 
                            get gasoline amid fuel shortages. This has added to the many crises the Lebanese are already
                            undergoing, leaving them even more wary about their future. </p>
                        <p>It has become commonplace to see long lines on streets near gas stations and cars stopped along 
                            the road because they had run out of fuel. Meanwhile, plastic tanks that had been filled with 
                            gasoline and stored in homes have caused fires in residential areas, and there has been at least 
                            one incident where a car caught fire, at airport parking June 17. </p>
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <section class="fade1"></section>
    
    <section class="block block--secondary skin--white flex flex-center quoteIndex">
        <p class="quote__content"><img class="doubleQuotesL" src="/imgs/quotes.png">Only by helping others you can 
            truly help yourself<img class="doubleQuotesR" src="/imgs/quotes.png"></p>
    </section>

    <section id="last" class="block block--secondary skin--white">
        <h2 class="heading" data-aos="flip-up">How can you help ?</h2>
        <div class="line"></div>
        <div class="grid grid-column">
            <div class="article1">
                <p>
                    if you are living in lebanon and want to offer help to others, go to the <a href="/login" class="login-anchor">login</a>
                    section and register to get your own profile and start helping others , to learn more scroll down to the <a href="#manual">how the system works</a> section .
                </p>
                <p>
                    and if you are in need, you can go straight to the <a href="/posts">posts</a> page where you can browse for what you want.
                </p>
            </div>
            <div class="article2">
                <p>
                    but if you are outside if lebanon and want to see your options to offer as much help as you can
                    then this section is for you, thankfully we have a lot of charities that are trying their best to make lebanon a
                    better place, and they are trustworthy charities that you can contact to send money and food to the people
                    that need it , and you will not regret it, scroll down to the <a href="#charities">charities</a> section for more .
                </p>
            </div>
        </div>
    </section>

    <section class="fade2"></section>

    <section id="charities" class="block block--primary">
        <h2 class="heading" data-aos="flip-up">Charities</h2>
        <div class="line"></div>
        <div class="flex flex-center flex-row">
            <ul class="lists">
                <li class="list__elem"><a href="http://www.redcross.org.lb/">lebanese red cross</a></li>
                <p class="num">phonenumber : 01 / 372 802</p>
                <p class="num">email : pr.info@redcross.org.lb</p>
                <li class="list__elem"><a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwiuno30wvzxAhVBSisKHdKTA_UYABAHGgJzZg&ae=2&ei=4nT8YOP_DtXm-Abb75fgAg&ohost=www.google.com&cid=CAESQeD2uTuEFnokj-rOoYTyT7ujapOZr3JD6uYC_kNJnzhdFPvffuV9WGV_FMAPoUJ9qeCE6_rspHE2cohSm5aMGRMZ&sig=AOD64_28yUA1rOFRrRpUsMJCb6dw7pLWMA&q&sqi=2&adurl&ved=2ahUKEwjj-IT0wvzxAhVVM94KHdv3BSwQ0Qx6BAgFEAE">lebanese food bank</a></li>
                <p class="num">phonenumber : 03 / 714 401</p>
                <p class="num">email : info@lebanesefoodbank.org</p>
                <li class="list__elem"><a href="https://www.impactlebanon.org/">impact lebanon</a></li>
                <p class="num">phonenumber : </p>
                <p class="num">email : team@impactlebanon.org</p>
            </ul>
            <ul class="lists">
                <li class="list__elem"><a href="https://www.beitelbaraka.org/">beit el baraka</a></li>
                <p class="num">phonenumber : 81 / 055 694</p>
                <p class="num">email : info@beitelbaraka.org</p>
                <li class="list__elem"><a href="http://caritas.org.lb/">caritas lebanon</a></li>
                <p class="num">phonenumber : 01 / 499 767</p>
                <p class="num">email : info@caritas.org.lb</p>
                <li class="list__elem"><a href="http://offrejoie.org/">offre joie</a></li>
                <p class="num">phonenumber : 03 / 628 000</p>
                <p class="num">email : info@offrejoie.org</p>
            </ul>
        </div>
    </section>

    <section class="fade1"></section>

    <section id="manual" class="block block--secondary skin--white">
        <h2 class="heading" data-aos="flip-up">How the system works ?</h2>
        <div class="line"></div>
        <div class="manual flex flex-center flex-column">
            <div class="manualSect">
                <h3>about the username :</h3>
                <p>
                    our system of donation can be fully anonymous by your choice, your username is what people see ,
                    and you can freely choose what it will be when you sign in as long as it hasn't been chosen before .
                </p>
            </div>
            <div class="manualSect">
                <h3>what will be shown to others :</h3>
                <p>
                    your city and address will be shown for others in the same location to be able to see your post
                    , and your phone number will be shown as well for others to be able to reach you .
                </p>
            </div>
            <div class="manualSect">
                <h3>will my email be available for other's to see :</h3>
                <p>
                    No , only the admins can see your sensitive information , which include your email ,
                    to avoid trouble that some malicious user might cause .
                </p>
            </div>
        </div>
    </section>

    <section class="fade3"></section>

    <section class="contact block--contact"> 
        <p>we hope that we made you smile</p>
        <div class="logos flex flex-row flex-center">
            <img src="/imgs/insta.png" alt="">
            <img src="/imgs/facebook.png" alt="">
        </div>
    </section>

    <script src="javascript/script.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>
</html>