<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Festive&family=Raleway:wght@200;300;400&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap" rel="stylesheet">
    <title>login</title>
</head>
<body>
    <section class="block block--login skin-white flex flex-row flex-center" id="login">
      <div class="quote flex flex-column">
        <p><img class="doubleQuotesL" src="/imgs/quotes.png">Everything will be okay at the end,
              and if its not okay, it's not the end<img class="doubleQuotesR" src="/imgs/quotes.png"></p>
        <p class="author">John lennon</p>
      </div>
        <div class="container login">
            <h1>Please Login</h1>
            <p class="msg"><%= msg %></p>
            <form action="/login" method="POST">
              <div class="form-control">
                <input id="email" name="email" type="text" required>
                <label>Email</label>
              </div>
      
              <div class="form-control">
                <input id="password" name="password" type="password" required>
                <label>Password</label>
              </div>
      
              <div class="flex flex-column">
                <button  class="btn">Login</button>
                <a class="btnCancel" href="/">cancel</a>
              </div>
      
              <p class="text">Don't have an account? <a href="/register">Register</a> </p>
            </form>
          </div>
    </section>
    <script src="javascript/script.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>
</html>