<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Festive&family=Raleway:wght@200;300;400&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>The blast in Beirut’s port</title>
</head>
<body>
    <section class="block block--primary articles">
        <h2 class="headingRight">The blast in Beirut’s port</h2>
        <div class="doubleLine line-black"></div>
        <div class="paragraphes">
            <p>No one could imagine the deadly incompetence of the corrupt government in Beirut until the explosion 
                of the port. On the evening of August 4, 2020, a column of smoke loomed menacingly over Beirut’s 
                vast horizon, foreshadowing tragedy in shades of gray and black. Flashes of white and glimpses 
                of smoldering orange interrupted the inky cloud as it climbed to ever-greater heights. With a 
                deafening blast, a massive shock wave consumed the city in the smoke and terror of 3,000 metric 
                tonnes of ammonium nitrate. In a matter of seconds, the detonation inflicted an estimated $15 
                billion in property damage. Far more priceless, the human toll of the explosion stands at least 
                200, with thousands more wounded. In the tearful wake of the blast, the Lebanese people are 
                hemorrhaging hope. Yet the horrific explosion is not merely a chance disaster: it is a symptom 
                of the corruption in Lebanon that is eating the country from the inside out. </p>
            <p>The blast in Beirut is no different than these struggles: it is a product of the political abuse 
                that has crippled Lebanon for years. The port authority seized the ammonium nitrate that exploded 
                in 2013 and left it “awaiting auction” or a spark to ignite it, whichever came first. Early 
                investigations have revealed the government’s full awareness of the compound’s improper storage: 
                it just did not do anything about it. Instead, the government ignored repeated warnings from 
                experts and postponed handling the issue to a later date. Tragically, chemistry beat them to it. </p>
            <p>Lebanon has been through a lot: war, crises and catastrophes. But what happened in the port of 
                Beirut went beyond anything the Lebanese could have imagined. The explosion reduced large parts 
                of the capital to rubble, made 300,000 people homeless and took away their hopes for a better 
                life. Despite everything this small country has experienced up to now, the deadly, gross failures 
                on the part of the incompetent Lebanese government have exceeded the population's worst nightmares. </p>
        </div>
    </section>
</body>
</html>