<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Festive&family=Raleway:wght@200;300;400&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>The corrupt political class that broke Lebanon</title>
</head>
<body>
    <section class="block block--primary articles">
        <h2 class="headingRight">The corrupt political class that broke Lebanon</h2>
        <div class="doubleLine line-black"></div>
        <div class="paragraphes">
            <p>Corruption has always existed in Lebanon, but was magnified after the end of the civil war in 1990.
            Once a taboo, now it is at the forefront of the public debate in Lebanon. </p>
            <p>Lebanon has long endured institutionalized corruption. Its current government system formed after 
            the previous regime’s ineptitude eroded national security to the point of civil war. The war lasted 
            from 1975-1990. The conflict occurred between the Palestine Liberation Organization (PLO) and Christian 
            groups backed by Israel and Syria, with both seeking political control over Lebanon. After 25 years of 
            fighting, over 100,000 killed and thousands more uprooted, the conflict finally ended with the signing of 
            the Taif Accord. This accord shaped the constitution into a document conducive to graft. </p>
            <p>A government system that allotted public offices to major religious groups supplanted years of instability. 
            This new framework nurtured the sectarianism that still dominates Lebanon’s politics today. Additionally, 
            the presence of extreme polarization favors patronage over democracy. The champions of the civil war quickly 
            grabbed power of the nascent government, bringing with them their blatant, unchecked corruption. </p>
            <p>For years, Lebanon’s political leaders have enjoyed glittering affluence despite the country’s abysmal 
            underdevelopment. Widespread embezzlement and underfunding of vital public services have gravely fractured 
            Lebanon’s rickety foundation. In particular, a series of recent catastrophes have drawn international attention 
            to the injustices long borne by the Lebanese people: economic crisis, lack of basic services, natural disaster, 
            and covid-19. </p>
        </div>
    </section>
</body>
</html>