<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Festive&family=Raleway:wght@200;300;400&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Lebanon’s fuel shortage worsens economic crisis</title>
</head>
<body>
    <section class="block block--primary articles">
        <h2 class="headingRight">Lebanon’s fuel shortage worsens economic crisis</h2>
        <div class="doubleLine line-black"></div>
        <div class="paragraphes">
            <p>It has been over a month since Lebanese drivers began lining up in their cars for hours to 
                get gasoline amid fuel shortages. This has added to the many crises the Lebanese are already
                undergoing, leaving them even more wary about their future. </p>
            <p>It has become commonplace to see long lines on streets near gas stations and cars stopped along 
                the road because they had run out of fuel. Meanwhile, plastic tanks that had been filled with 
                gasoline and stored in homes have caused fires in residential areas, and there has been at least 
                one incident where a car caught fire, at airport parking June 17. </p>
            <p>Gas station workers have become the targets of almost daily attacks, and some stations have closed 
                or only open in the early morning hours, while others have chosen to ration fuel so that more 
                customers can at least get some gas. </p>
            <p>A black market has merged where gas and diesel are sold at high prices, and some workers have accepted 
                bribes from drivers seeking extra fuel. </p>
            <p>Security forces have been deployed at many stations due to incidents that have resulted in death and 
                vandalism. One person was killed in a shooting triggered by the fuel shortage in the town of Benin, 
                in Akkar in northern Lebanon. In Tyre in southern Lebanon, the gas pumps were damaged at one station. 
                One person even removed the gas pump hoses to force workers to fill up his car. </p>
            <p>Officials in the hydrocarbon sector said the crisis is due to the lack of dollars at Lebanon’s 
                Central Bank to import fuel. In the past weeks, the importation of fuel has become limited and 
                is not meeting the market need. Smuggling of fuel to Syria has also caused depletion of the country's 
                fuel stocks. </p>
            <p>The Central Bank supports the importation of fuel by paying 90% of its price at the official exchange 
                rate of 1,515 Lebanese pounds to the dollar, and the remaining 10% is secured by importers in dollars 
                from the black market, where the value of a dollar surpassed 15,000 pounds this week. </p>
            <p>Four liters of gasoline — a little over a US gallon — is about 8,700 Lebanese pounds 
                (about $5.75 at the official rate or 57 US cents at the black market price) compared with 
                about 4,600 Lebanese pounds ($3 at the official rate) before the economic crisis erupted in 2019.  </p>
            <p>Central Bank Governor Riyad Salameh has repeatedly warned that subsidies for basic commodities will 
                end when the bank's mandatory minimum reserve of $17 billion is reached and called on the government 
                to rationalize subsidies. </p>
            <p>The Lebanese people are afraid the fuel crisis will worsen and that there will be an increase in 
                clashes and the use of guns at gas stations. Fears of crime and killings have grown; one big fear 
                is that if fuel subsidies end and prices increase even more, many people will not be able to 
                afford to use their vehicles. </p>
        </div>
    </section>
</body>
</html>