<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Festive&family=Raleway:wght@200;300;400&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Forces for change / the revolution</title>
</head>
<body>
    <section class="block block--primary articles">
        <h2 class="headingRight">Forces for change / the revolution </h2>
        <div class="doubleLine line-black"></div>
        <div class="paragraphes">
            <p>Despite the widespread corruption in Lebanon, downtrodden citizens and empathetic 
            foreigners are striving to implement much-needed reforms. </p>
            <p>Public outcry has led to numerous recent power shifts. In October 2019, massive demonstrations 
            set off by a proposed tax increase, united Lebanon’s diverse political sects against government abuses. 
            This monumental display of solidarity ultimately ousted then-Prime Minister Saad Hariri and his 
            administration and led to the induction of Hassan Diab..  </p>
            <p>On 17 October 2019, the Lebanese cabinet announced new tax measures to address an economic crisis. 
            In response, tens of thousands of peaceful protesters took to the streets across the country calling 
            for their social and economic rights, for accountability, an end to corruption, and the resignation of 
            all political representatives. </p>
            <p>Although the cabinet resigned, many of the ruling figures who have dominated the Lebanese political 
            scene for decades remained in power. In January 2020, a new cabinet was appointed, with little change 
            to address the population’s demands, and the protests continued. </p>
            <p>On 4 August, an explosion at the port of Beirut killed at least 190 people, injured more than 6,500, 
            and left an around 300,000 people homeless. The blast was caused by 2,750 tons of ammonium nitrate 
            that had been stored unsafely in a warehouse. </p>
            <p>This tragic event, against the backdrop of a global pandemic, financial crisis, and political crisis, 
            reignited the October protests on 8 August with calls for accountability and justice. The street pressure 
            resulted in the resignation of the cabinet for the second time since the beginning of the protests. </p>
            <p>The largely peaceful protests since October 2019 have been met by the Lebanese military and security 
            forces with beatings, teargas, rubber bullets, and at times live ammunition and pellets. </p>
        </div>
    </section>
</body>
</html>