<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Festive&family=Raleway:wght@200;300;400&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Coronavirus Outbreak in Lebanon</title>
</head>
<body>
    <section class="block block--primary articles">
        <h2 class="headingRight">Coronavirus Outbreak in Lebanon </h2>
        <div class="doubleLine line-black"></div>
        <div class="paragraphes">
            <p>The COVID-19 pandemic in Lebanon is part of the ongoing worldwide pandemic of coronavirus 
            disease 2019 (COVID-19) caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). 
            The virus was confirmed to have reached Lebanon in February 2020. </p>
            <p>Lebanon’s economic downfall, aggravated by the Covid-19 pandemic, has led to lack of access to 
            basic amenities. The marginalized sections of the Lebanese society have borne the brunt of the 
            financial crisis, say economists. </p>
            <p>On 12 January, the World Health Organization (WHO) confirmed that a novel coronavirus was 
            the cause of a respiratory illness in a cluster of people in Wuhan City, Hubei Province, 
            China, who had initially come to the attention of the WHO on 31 December 2019. </p>
            <p>Unlike SARS of 2003, the case fatality rate for COVID-19 has been much lower, but the 
            transmission has been significantly greater, with a significant total death toll. </p>
            <p>Lebanon was successful in handling the pandemic during its beginning, having reported 
            between 0 and 100 daily cases from 15 March 2020 to 12 July 2020. After the Beirut port explosions 
            on 4 August 2020, cases began to skyrocket, with Lebanon reporting well over 1,000 cases on most 
            days since mid-September and setting a new record of 2,817 cases of COVID-19 in one day on 6 December 2020. </p>
            <p>On 6 March, the Minister of Health Hamad Hassan declared that "Lebanon is no longer in Coronavirus 
            containment stage" following the entry of several new cases to Lebanon coming from countries 
            previously classified as not infected and urged the population to take preventive measures such 
            as avoiding public venues, like resorts and theaters. Following this statement, the closure of 
            schools, universities, and nurseries was extended to March 14. </p>
            <p>Non-payment of salaries was reported. A suffocating economic crisis has left Lebanon's poor 
            with little or no means to cope with extra hardship. </p>
            <p>The United Nations High Commissioner for Human Rights Michelle Bachelet raised the alarm on 
            Lebanon's socio-economic crisis on 10 July 2020. Her statement cited Lebanese and UN figures 
            that estimated 75% of Lebanon's population are in need of aid. Since October, the Lira had 
            lost more than 80% of its value and chronic power cuts are now the norm. In addition, Lebanon 
            hosts more than 250,000 migrant workers, many of which have lost their jobs, not been paid, 
            been left homeless, and unable to send remittances to their families back home. Bachlet called 
            on the country's political parties to urgently enact reforms and prioritize essentials such as 
            electricity, food, health and education. </p>
        </div>
    </section>
</body>
</html>